#filecv {
    cursor: pointer;
    color: rgb(214, 9, 241);
}
#filecert{
    cursor: pointer;
    color: rgb(255, 17, 0);
}

#filephoto{
    cursor: pointer;
    color: rgb(87, 26, 199);
}
h3{
    color: rgb(15, 5, 34);

}

.btn{
    background:#0a161b;
}

.moda.show{
    display:block;
}
#file {
    cursor: pointer;
    color: blue;
}
