<div class="content">
  <div class="container-fluid">
      <div class="row">
<!-- <div class="col-md-0"></div> -->

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title " align="center">View Applicant</h3>
                <!-- <p class="card-category">View New Applicant</p> -->
                <div class=" form-inline active-cyan active-cyan-2 md-form mt-0 search">
                  <input class="form-control" type="text" placeholder="Search by Anything" #query (keyup)="search(query.value)" aria-label="Search">
                </div>
              </div>
              <div class="card-body">
                  <!-- <div class=" form-inline active-cyan active-cyan-2 md-form mt-0 search">
                      <input class="form-control" type="text" placeholder="Search by Anything" #query (keyup)="search(query.value)" aria-label="Search">
                    </div> -->
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text">
                      <th>#</th>
                      <th>ID</th>
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <!-- <th>Age</th> -->
                      <th>Gender</th>
                      <!-- <th>Res.Address</th> -->
                      <!-- <th>P.Address</th> -->
                      <!-- <th>Dg.Address</th> -->
                      <th>PhoneNo.</th>
                      <th>CV</th>
                      <th>Cert</th>
                      <th>Photo</th>
                      <th>Description</th>
                      <th>DateCreated</th>
                    </thead>
                    <tbody>
                         <tr *ngFor="let applicnt of searchdata ; let i=index;" >
                          
                            <td>{{i+1}}</td>
                            <td>{{applicnt.user_id}}</td>
                            <td>{{applicnt.first_name}}</td>
                            <td>{{applicnt.last_name}}</td>
                            <!-- <td>{{applicnt.age}}</td> -->
                            <td>{{applicnt.gender}}</td>
                            <!-- <td>{{applicnt.res_address}}</td> -->
                            <!-- <td>{{applicnt.postal_address}}</td> -->
                            <!-- <td>{{applicnt.digital_address}}</td> -->
                            <td>{{applicnt.phone}}</td>
                            <td id="filecv" (click)="opendocument(applicnt.cv_name)">{{applicnt.cv_name}}</td> 
                            <td id="filecert" (click)="opendocument(applicnt.certificate_name)">{{applicnt.certificate_name}}</td>
                            <td id="filephoto" (click)="opendocument(applicnt.photo_name)">{{applicnt.photo_name}}</td> 
                            <td>{{applicnt.description}}</td>
                            <td>{{applicnt.date_created}}</td>  
                            <td>
                              <button type="submit" class="btn btn-round btn-sm"   rel="tooltip" title="full view" data-toggle="modal" (click)="myModal(applicnt)" data-target="#myModal">
                                  <i class="material-icons">edit</i>
                                full view
                              </button>
                            </td>                 
               
                  </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
  </div>
</div>

<!-- The MODAL goes here -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="card-title" align="center">Applicant Full Detail</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        User information goes here
        <div>
          Firstname:: {{ firstname }}
        </div>
        <div>
          Lastname:: {{ lastname }}
        </div>
        <div>
          Age:: {{ age }}
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

