<header class="showcase">
  <div class="showcase-top">
      <img src="assets/img/logo.png"  alt="ECL" >
  </div>
  <br><br><br><br><br>
  <div class="showcase-content">
      <h1>Enterprise Computing Career</h1>
      <p>Applicant's Portal</p>
      <button  (click)="getStarted()" class="btn btn-danger btn-sm">
          Click to Apply Here <i class="material-icons">double_arrow</i>
      </button> 
    <br><br>  
      Contact Our Human Resources Team or Call +233 50 604 5005 for further Inquiries
  </div>
 
</header>