
    <!-- End Navbar -->
    <!-- <body>
        <br><br>
      
          <div class="content" >
            <div class="container-fluid">


    <div class="row">
        <div class="col-md-2">
       
          </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header personal">
            <h4 class="card-title" Style="color:rgb(124, 174, 224);">Upload Certificate</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="personadetail">
              
              <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                      <label class="bmd-label-floating">Make all certificate in one and upload here</label>
                      <input type="file" id="cert"  accept="pdf/*" (change)="onSelectFile($event)" class="form-control">
                  </div>
                <div class="col-md-4"></div>
              </div>
              

              <button type="submit" class="btn pull-right" [disabled]="!personadetail.valid" (click)="submitphoto()">Submit Certificate
                  <i class="material-icons text-info">double_arrow</i>
                </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div> 
    </div>

  </div>
</div>       -->