
      <!-- End Navbar -->
      
<!--       
           <div class="content" >
            <div class="container-fluid">

    <div class="row" *ngIf="persona">
        <div class="col-md-2">
       
          </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header ">
            <h2 class="card-title" Style="color:rgb(66, 155, 245); text-transform: 20px;" align="center">Personal Information Profile</h2>
          </div>
          <div class="card-body">
            <form [formGroup]="personadetail">
              <div class="row">               
                <div class="col-md-7">
                  <div class="form-group">
                    <select class="form-control" formControlName="position" placeholder="Position applying for" id="sel1">
                      <option value="">Position applying for</option>
                      <option value="">Finance Officer</option>
                      <option value="">Systems Engineer</option>
                      <option value="">Software Developer</option>
                      <option value="">Sales Executive</option>
                      <option value="">Human Resource Assistant</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text"  id="firstname" formControlName="last_name" placeholder="Firstname"  class="form-control">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" id="lastname" formControlName="first_name" placeholder="Lastname" class="form-control">
                  </div>
                </div> 
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" id="raddress" formControlName="res_address" placeholder="Residencial Address" class="form-control">
                  </div>
                </div>           
              </div> -->

              <!-- <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text"  id="age" formControlName="age" placeholder="Age" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Gender</label>
                    <select class="form-control"  formControlName="gender" placeholder="Gender" id="sel1">
                      <option value="">Gender</option>
                      <option value="female">Female</option>
                      <option value="male">Male</option>
                    </select>
                  </div>
                </div>            
              </div> -->

            <!-- <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" id="paddress" formControlName="postal_address" placeholder="Postal Address" class="form-control">
                  </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                      <input type="text" id="haddress" formControlName="digital_address" placeholder="Digital Address" class="form-control">
                    </div>
                  </div>

                <div class="col-md-4">
                  <div class="form-group">
                      <input type="text" formControlName="phone" class="form-control" placeholder="Phone eg. +233...">
                      <h5 *ngIf="personadetail.get('phone').hasError('pattern')">Enter a valid number</h5>
                  </div>
                </div>
              </div>

<br><br> -->
<!-- to upload files starts from here -->

            <!-- <div class="row">
              <div class="col-md-4">
                <div class="">
                  <label class="bmd-label-floating" for="cv">Upload CV</label>
                  <input type="file" id="cv"  accept="pdf/*" (change)="onSelectFileCV($event)" class="hidden" >
                </div>
              </div>

              <div class="col-md-4">
                  <div class="">
                    <label class="bmd-label-floating" for="cert">Upload Certificate </label>
                    <input type="file" id="cert"  accept="pdf/*" (change)="onSelectFileCert($event)" class="hidden">
                  </div>
                </div>

              <div class="col-md-4">
                <div class="">
                  <label class="bmd-label-floating" for="photo">Upload photo</label>
                    <input type="file"  id="photo" accept="pdf/*" (change)="onSelectFilePhoto($event)"class="hidden">
                </div>
              </div>
            </div> -->

            <!-- uploading of multiple files ends here -->

<!--             
              <br><br>
              <div class="row">
                <div class="col-md-12">
                <div class="forma-control" align="center">
                <textarea name="" formControlName="description"  id="aboutu" placeholder="Introduce yourself to us. Who are you ?" cols="80" rows="10"></textarea>
                  </div>
                </div>
              </div>
              <br><br><br>
              <button type="submit" class="btn btn-danger btn-sm"[disabled]="!personadetail.valid" (click)="submitall()">Submit your information
                  <i class="material-icons">double_arrow</i>
                </button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-2"></div>
     
    </div> -->


<!------------------------------ support flag exist here--------------- -->


 







      <!-- End Navbar -->
      <body>
        <br><br>
      
          <div class="content" >
            <div class="container-fluid">
              
    
              




    <div class="row">
      <div class="col-md-2">
     
        </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header personal">
          <h2 class="card-title" Style="color:rgb(66, 155, 245); text-transform: 20px;" align="center">Personal Information Profile</h2>
          <!-- <p class="card-category" Style="color:rgb(255, 255, 255);">Complete your Personal information</p> -->
        </div>
        <div class="card-body">
          <form [formGroup]="personadetail">
            <div class="row">
              
         
              <div class="col-md-7">
                <div class="form-group">
                  <select class="form-control"  formControlName="position" placeholder="Position applying for" id="sel1">
                    <!-- these values should come from db -->
                    <option value="">Position applying for</option>
                    <option value="finance officer">Finance Officer</option>
                    <option value="systems engineer">Systems Engineer</option>
                    <option value="software developer">Software Developer</option>
                    <option value="sales executive">Sales Executive</option>
                    <option value="human resource assistant">Human Resource Assistant</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">first name</label> -->
                  <input type="text"  id="firstname" formControlName="first_name" placeholder="First name" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">last name</label> -->
                  <input type="text" id="lastname" formControlName="last_name" placeholder="Last name" class="form-control">
                </div>
              </div>            
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">Age</label> -->
                  <input type="number"  id="firstname" formControlName="age" placeholder="Age" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="form-control"  formControlName="gender" placeholder="Gender" id="sel1">
                    <option value="">Gender</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                  </select>
                </div>
              </div>            
            </div>

          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">Home Address</label> -->
                  <input type="text" id="haddress" formControlName="res_address" placeholder="Residencial Address" class="form-control">
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                    <!-- <label class="bmd-label-floating">Postal Address</label> -->
                    <input type="text" id="haddress" formControlName="postal_address" placeholder="Postal Address" class="form-control">
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">Phone eg. +233...</label> -->
                    <input type="text" formControlName="phone" class="form-control" placeholder="Phone eg. +233...">
                    <h5 *ngIf="personadetail.get('phone').hasError('pattern')">Enter a valid number</h5>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label class="bmd-label-floating">Digital Address</label> -->
                  <input type="text" id="haddress" formControlName="digital_address" placeholder="Digital Address" class="form-control">
                </div>
            </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                      <label class="bmd-label-floating" for="cv">Upload CV</label>
                      <input type="file" id="cv"  accept="pdf/*" (change)="onSelectFileCV($event)" class="form-control">
                  </div>

                  <div class="col-md-4">
                        <label class="bmd-label-floating" for="cert">Upload Certificate</label>
                        <input type="file" id="cert"  accept="pdf/*" (change)="onSelectFileCert($event)" class="form-control">
                    </div>

              <div class="col-md-4">
                    <label class="bmd-label-floating" for="photo">Upload photo *png</label>
                  <input type="file"  id="photo" accept="pdf/*" (change)="onSelectFilePhoto($event)" class="form-control">
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-md-12">
              <div class="forma-control" align="center">
              <textarea name="" formControlName="description" id="aboutu" placeholder="Introduce yourself to us. Who are you ?" cols="80" rows="10"></textarea>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-danger btn-sm" [disabled]="!personadetail.valid" (click)="submitall()">Submit your information
                <i class="material-icons text-info">double_arrow</i>
              </button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-2"></div>
   
  </div>


            
    
    
            </div>
          </div>
         
    </body>










 


