/* .wrapper{
    background: #2aea;
}

.nnn{
    background: #2aea;
} */

.navbar-wrapper {
    /* width: 100%;
    /* background: #dfdddd; */
   /* height: 100vh;  */
     background: url(/assets/img/icon.png) no-repeat; 
  }
  .content {
    margin: 30px;
  }

  .nav-link{
    cursor:pointer;
  }

  
  a.dropdown-item:hover{
    color: #fff;
    /* background: #4AA8EE; */
    background: rgb(2, 9, 14);
    cursor: pointer;
    }